<div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" fxLayout="column">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" name="email" formControlName="email">
                    <mat-error>
                        Bitte eine gültige Email-Adresse eingeben
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Passwort</mat-label>
                    <input matInput type="password" name="password" formControlName="password">
                    <mat-error>
                        Bitte ein Passwort eingeben
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="serverError">
                    {{serverError}}
                </mat-error>
                <div fxFlexAlign="center">
                    <button mat-raised-button color="accent" (click)="login()">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
