<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">Link 1</a>
            <a mat-list-item href="#">Link 2</a>
            <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" fxLayout>
            <div class="toolbar-left" fxFlex="">
                <button mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Wichteli</span>
            </div>
            <div class="toolbar-right" fxFlex *ngIf="(isHandset$ | async) === false">
                <span>a item</span>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
