/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Raleway', "Helvetica Neue", sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Raleway', "Helvetica Neue", sans-serif;
}

.mat-card {
    margin: .5% .25% 0 .25%;
}
